.main-section {
  /* border: solid blue; */
  background: white;
  /* width: 100%;
  margin: auto; */
}

.main-row {
  display: grid;
  grid-template-columns: 15% 70% 15%;
  
}

.my-info {
  text-align: center;
}

.social-links {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  margin: auto; 
}
.social-links i {
  color: rgb(118, 172, 216);
  font-size: 5em;
  padding: 1px;
}

.nav-circle-left {
  border: solid purple;
}

.nav-circle-right {
  border: solid purple;
}

.nav-circle-bottom {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 50%;
  bottom: 0;
  margin: auto;
  border: solid pink;
}

.nav-left {
  float: left;
  width: 4em;
  height: 4em;
  border: 0.5em solid #333;
  border-radius: 50%;
}

.nav-left:after {
  content: '';
	display: inline-block;
  margin-top: 0.9em;
  margin-left: 1em;
  width: 1.4em;
  height: 1.4em;
  border-top: 0.5em solid #333;
  border-right: 0.5em solid #333;
  -moz-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.nav-right {
  float: right;
  width: 4em;
  height: 4em;
  border: 0.5em solid #333;
  border-radius: 50%;
  margin-left: 5em;
}

.nav-right:after {
  content: '';
	display: inline-block;
  margin-top: 0.9em;
  margin-left: 0.5em;
  width: 1.4em;
  height: 1.4em;
  border-top: 0.5em solid #333;
  border-right: 0.5em solid #333;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.nav-bottom {
  display: inline-block;
  width: 4em;
  height: 4em;
  border: 0.5em solid #333;
  border-radius: 50%;
  margin-left: 0.75em;
}

.nav-bottom:after {
  content: '';
	display: inline-block;
  margin-top: 0.6em;
  width: 1.4em;
  height: 1.4em;
  border-top: 0.5em solid #333;
  border-right: 0.5em solid #333;
  -moz-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}