.main-section {
  background: rgba(0,0,0,0);
}

.main-row {
  display: flex;
  justify-content: space-between;
}

.my-info {
  text-align: center;
  justify-content: center;
}

.social-links {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  margin: auto; 
}
.social-links i {
  color: rgba(88, 88, 88, 0.774);
  font-size: 5em;
  padding: 1px;
}

.nav-text {
  color: red;
  opacity: 0;
  text-align: center;
  position: absolute;
  padding: 0.75em; 
  width: 5.4em;
  height: 5.4em;
  border-radius: 50%;
}

.nav-text:hover {
  opacity: 1;
  position: relative;
  width: inherit;
}

.nav-circle-left {
  background: rgba(0, 0, 0, 0);
  width: 5em;
}

.nav-left {
  float: left;
  width: 5.5em;
  height: 5.5em;
  border: 0.1em solid #333;
  border-radius: 50%;
}

.nav-left:after {
  content: '';
	display: inline-block;
  margin-top: 1.9em;
  margin-left: 2.2em;
  width: 1.3em;
  height: 1.3em;
  border-top: 0.2em solid #333;
  border-right: 0.2em solid #333;
  -moz-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.nav-left:hover {
  background: rgb(211, 209, 209);
}

.nav-left:hover:after {
  display: none;
}

.nav-circle-right {
  background: rgba(0, 0, 0, 0);
  width: 5em;
}

.nav-right {
  float: right;
  width: 4em;
  height: 4em;
  border: 0.1em solid #333;
  border-radius: 50%;
  margin-left: 5em;
}

.nav-right:after {
  content: '';
	display: inline-block;
  margin-top: 1.2em;
  margin-left: 0.9em;
  width: 1.3em;
  height: 1.3em;
  border-top: 0.2em solid #333;
  border-right: 0.2em solid #333;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.nav-circle-bottom {
  position: absolute;
  bottom: 0;
  left: 47%;
}

.nav-bottom {
  width: 4em;
  height: 4em;
  border: 0.1em solid #333;
  border-radius: 50%;
}

.nav-bottom:after {
  content: '';
	display: inline-block;
  margin-top: 0.9em;
  margin-left: 1.2em;
  width: 1.4em;
  height: 1.4em;
  border-top: 0.2em solid #333;
  border-right: 0.2em solid #333;
  -moz-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}