.main-section {
    width: 100%
}

.top-bar {
    width: 100%;
    display: grid;
    grid-template-columns: 80% 10% 10%;
    grid-template-rows: 50px;
    background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
}

.top-bar p {
    margin: 20px;
    
}